*.bundle
*.o
*.so
*.swp
/pkg
Makefile
lib/racc/grammar_file_scanner.rb
tags
tmp
target
lib/racc/cparse-jruby.jar
TAGS

# For Bundler
.bundle
Gemfile.lock
Gemfile.local

# Windows local build artifacts
/win_gem_test/orc/
/win_gem_test/shared/
/win_gem_test/test_logs/
/Rakefile_wintest
*.gem
/lib/racc/cparse.rb
